.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image:  linear-gradient(to bottom right, rgb(0, 0, 0), rgb(45, 36, 126));

 
  
  
  color: rgb(255, 242, 233);
}

h3{
  text-align: start;
  color: rgb(255, 242, 233);
}

.resumen{
  padding: 3%;
  background-color: rgba(12, 11, 11, 0.966);
  width: 200px;
  position: absolute;
  z-index: 999;
  color: rgb(255, 242, 233);
    
}

.resumenButton{
  font-weight: 600;
  padding: 0.5rem;
  color:beige;
  background-color: rgb(104, 87, 255);
  border-color:  rgb(22, 17, 39);
  border-radius: 20%;
}
.resumenFecha{
  display: inline-block;
  border: 1px solid white;
  margin: 0%;
  padding: 0%;
}

.link{
  text-decoration: none;
  color:beige;
}

.generos{
  margin: 0%, 0%, 0%, 2%;
  padding: 0%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genero{
  padding: 1%;
  border: 1px solid white;
}

.resumen h4{
  margin-bottom: 4%;
  color: rgb(255, 242, 233);
}

.resumen h5{
  margin: 0%;
  padding: 0%;
  color: rgb(255, 242, 233);
}

.portada{
  display: flex;
  align-items: center;
  color: rgb(255, 242, 233);
}

.logoPortada{
  margin: 2% 2% 15% 2%;
  min-width: 40%;
}

.logoPortada img{
  max-width: 100%;
}

.logoPortada h2{
  padding: 0% 10% 0% 10%;
}

.logoPortada button{
  font-weight: 100;
  padding: 0.5rem;
  color:beige;
  background-color: rgb(104, 87, 255);
  border-color:  rgb(22, 17, 39);
}

.fondoPortada{
  object-fit: cover;
  max-width: 40%;
  margin: 0%;
  padding: 0%;

}

.grilla{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  
}

.grilla li{
  
  max-width: 170px;
  
  
  
}