.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.portadaPeliculas:hover {
  text-decoration: solid underline rgb(250, 249, 250) 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    rgb(43, 34, 129)
  );
  color: rgb(255, 242, 233);
}

.swiper {
  margin-bottom: 5%;
}

.textoCarrousel {
  text-align: start;
  color: rgb(255, 242, 233);
  margin-left: 2%;
}

.link {
  text-decoration: none;
  color: beige;
}

.poster {
  z-index: 0;
}

.card {
  z-index: 1;
  width: 110%;
}

.generos {
  margin: 0%, 0%, 0%, 2%;
  padding: 0%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genero {
  padding: 1%;
}

.iconosCard {
  display: grid;
  padding: 2% 0 5% 0;
  grid-row: 1;
  grid-template-columns: 3fr 1fr;
}

.juntos {
  display: flex;
}

.portada {
  display: flex;
  align-items: center;
  color: rgb(255, 242, 233);
  height: 89vh;
}

.logoPortada {
  margin: 2% 2% 15% 2%;
  min-width: 40%;
}

.logoPortada img {
  max-width: 100%;
}

.logoPortada h2 {
  padding: 0% 10% 0% 10%;
}

.logoPortada button {
  font-weight: 100;
  padding: 0.5rem;
  color: beige;
  background-color: rgb(104, 87, 255);
  border-color: rgb(22, 17, 39);
}

.fondoPortada {
  object-fit: cover;
  max-width: 40%;
  margin: 0%;
  padding: 0%;
}

.grilla {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
}

.grilla li {
  max-width: 170px;
}

.barraNav {
  background-color: rgba(20, 27, 66, 0.712);

  /* background-image:  linear-gradient(to bottom , rgba(10, 8, 32, 0.308) , rgba(45, 36, 126, 0.37)); */
}

#navbarScroll {
  margin-top: 10px;
}

.detalle {
  color: rgb(255, 255, 255);
  margin: 2%;
}

.row {
  margin-bottom: 2%;
  text-align: center;
}

.row p {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}

/***************************
* AVATAR
***************************/
.avatar {
  display: flex;
  align-items: center;
  /*   border: 1px solid red; */
  justify-content: end;
  margin-right: 1rem;
  max-width: 9rem;

  position: relative;
  z-index: 9;
}
.avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.avatar p {
  text-transform: lowercase;
  margin: 0 1rem;
  color: #fff;
}
.avatar p:first-letter {
  text-transform: uppercase;
}

.avatar_actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 5;
  z-index: 90;
  color: #fff;
  padding: 15px;
  background-color: #282c34;
  cursor: pointer;
  display: none;
}
.avatar_actions div {
  display: flex;
  flex-direction: column;
}
.avatar_actions div a {
  text-decoration: none;
  padding: 5px;
}

.show_avatar_actions {
  display: block !important;
}
